
.divClass{
    background-image: url(img/193962090_3499431280160367_8971918680137845982_n.jpg);
    margin: auto;
    text-align: center;
    background-color:bisque;
    height: 150px;
    width: 650px;
}
#spanId{
    background-color: bisque;
    padding: 40px;
    font-size:12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: rgb(158, 39, 39);
    margin-bottom: 100px;
}

#thirddiv{
    margin-top: 50px;
    margin: auto;
    padding: 10px;
    border: 5px;
    border-color: rgb(205, 50, 50);
    border-style: dashed;
    width: 600px;
    background-color: bisque;
}


ul{
    list-style: none;
}

/*.bg-image{
    position: relative;
    display: flex;
    background-image: url('https://scontent-lim1-1.xx.fbcdn.net/v/t1.6435-9/193962090_3499431280160367_8971918680137845982_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeH1WWSa4y-oteQqrimtY0JH-zRQx0XQPhj7NFDHRdA-GAuQJ-8bWhAeXFJ48iIbxklYp2zzUP7OLrUq1yxs7NQ2&_nc_ohc=8PWLI7Tbb4AAX8C3Ey6&_nc_ht=scontent-lim1-1.xx&oh=00_AT_Evhtb88ZQ2BbGTQ2yIwFQtcBzm29LAMQfSyraQ1CVSg&oe=62404765') ;
    
    justify-content: center;
    background-size: cover;
    

    
}


}

h1 {
    color: chocolate;
    text-align: center;
    

}

img{
   
   
    width: 200px;
    padding: 5px;

}

ul{
    list-style: none;
}

#spanId{
    font-size: 18px;
    
}

#thirddiv{
    
   
    border-radius: 2px;
    border: 5px;
    margin: auto;
    height: 650px ;
    width: 300px ;
    padding: 50px;
    border-style: dashed;
    border-color: rgb(236, 221, 84) ;
    background-color: rgb(218, 60, 32);
    
   
}
/*